<%- include("partials/header.ejs") %>

  <div class="container ">

    <div class="row justify-content-center">
      <div class="card mb-3" style="max-width: 700px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/<%= profileImage %>" class="m-3 mb-0 rounded" height="170px" style="max-width: 200px;"
              alt="profile Picture">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                <%= username %>
              </h5>
              <p class="card-text">First name: <%= firstname %>
              </p>
              <p class="card-text">Last name: <%= lastname %>
              </p>
              <p class="card-text">E-mail: <%= email %>
              </p>


            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">

      <form class="row " action="/upload" method="POST" enctype="multipart/form-data">
        <div class="col-md-6">
          <input name="file" type="file" class="form-control">
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary pt-1" type="submit">Upload file</button>

        </div>
      </form>
      <form class="row " action="/edit_user" method="POST">
        <div class="col-md-6 ">
          <input type="text" class="form-control" placeholder="Firstname" name="firstname">
        </div>
        <div class="col-md-6 ">
          <input type="text" class="form-control" placeholder="Lastname" name="lastname">
        </div>
        <div class="col-md-6 pt-3 ">
          <input type="email" class="form-control" placeholder="E-mail" name="email">
        </div>
        <div class="col-md-6 pt-3">
          <button class="btn btn-primary" type="submit">Edit user</button>
        </div>

      </form>
    </div>
    <div class="row m-2 justify-content-center">

      <% posts.forEach((item)=> { %>
        <% if (item.postUser===username) { %>

          <div class="row   ">
            <h3 class="text-center">Tweets</h3>

            

              <div class="row justify-content-center">
                <div class="card w-100 ">
                  <div class="card-body">
                    <div class="row ">
                      <div class="col-2">
                        <a href="/users/<%= item.postUser%>"> <img src="/<%= profileImage %>" class="rounded-circle"
                            alt="profile picture" height="50px" width="50px"></a>
                      </div>
                      <div class="col m-1 pt-2">
                        <h5 class="card-title">
                          <%= item.postUser %>
                        </h5>
                      </div>
                    </div>

                    <p class="card-text pt-2">
                      <%= item.postContent%>
                    </p>
                    <p class="fw-lighter mb-1">
                      <%= item.postDateString %>
                    </p>
                  </div>
                </div>
              </div>





            

          </div>

          <% } %>
            <% }) %>
    </div>


  </div>
  <%- include("partials/footer.ejs") %>