<%- include("partials/header.ejs") %>

<div class="container">

  <div class="row justify-content-center">
    <div class="card mb-3" style="max-width: 700px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/<%= userInfo[userInfo.length-1].profileImage %>" class="m-3 pb-1 rounded" height="170px" style="max-width: 200px;"
            alt="profile Picture">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <%= userPosts[userPosts.length-1].postUser %>
            </h5>
            <p class="card-text">First name: <%= userPosts[userPosts.length-1].postFirstname %>
            </p>
            <p class="card-text">Last name: <%= userPosts[userPosts.length-1].postLastname %>
            </p>
            <p class="card-text">E-mail: <%= userPosts[userPosts.length-1].postEmail %>
            </p>


          </div>
        </div>
      </div>
    </div>
  </div>

  

       

        

        <div class="row mb-3 p-2 justify-content-center " >
                <h3 class="text-center">Tweets</h3>

                <ul>
                    <% userPosts.forEach((item) => { %>
                        <div class="row mb-3 justify-content-center">
                        <div class="card w-100 ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2"> 
                                      <a href="/users/<%= item.postUser%>"> <img src="/<%= userInfo[userInfo.length-1].profileImage %>" class="rounded-circle" alt="profile picture" height="50px" width="50px"></a> 
                                    </div>
                                    <div class="col pt-2">
                                        <h5 class="card-title"><%= item.postUser %></h5>
                                    </div>
                                </div>
                              
                              <p class="card-text pt-2"><%= item.postContent%></p>
                              <p class="fw-lighter mb-1"> <%= item.postDateString %> </p>
                            </div>
                          </div>
                        </div>
                        
                            <% }) %>
                       

                    
                </ul>
        
            </div>

</div>




        


<%- include("partials/footer.ejs") %>